<ion-content padding >
	<h2 style="text-align: center;
	           margin-top: 10pt;
	           font-style: italic;">
		Welcome to Trash-Track app
	</h2>

	<img class="img" src="assets/imgs/iii.png"alt="">

	<form #f="ngForm" (ngSubmit)="onLogin(f)"
			*ngIf="ServerState === ''">
		<ion-list class="form">
		  <ion-item class="input">
		  	<ion-label color="dark" floating>Username</ion-label>
		    <ion-input 
		    type="text"
		    name="username"
		    required
		    ngModel>
		    </ion-input>
		  </ion-item>

		  <ion-item class="input">
		  	<ion-label color="dark" floating>Password</ion-label>
		    <ion-input
		    type="password"
		    name="password"
		    required
		    ngModel>
		    </ion-input>
		  </ion-item>

		  <div padding>
	   	 <button 
	   	 	ion-button 
	   	 	color="primary" 
	   	 	round block 
	   	 	type="submit"
	   	 	[disabled]="!f.valid"
	   	 	>Sign In</button>
	  	</div>
		</ion-list>
	</form>

	<p class="logWarn" *ngIf="unAuthorised === true">Username or password is incorrect</p>


	<p class="serverWarn">{{ServerState}}</p>

	
</ion-content>
