page-home {
	.state{
		font-size: 120%;
	}

	.rideBtn{
		position: relative;
		left: 20%;
		top: 50pt;
	}

	.img {
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    width: 50%;
	}

	.caption{
		text-align: center;
	}
}
